.statistics {
  width: 370px;
  height: 180px;
  border-radius: 2px;
  background-color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 15px;
}

.title {
  color: rgb(53, 49, 49);
  text-align: center;
  text-transform: uppercase;
  padding-top: 4%;
}

.stat__list {
  display: flex;
  height: 48%;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.3px solid #2e2d2d;
  background-color: aqua;
}

li {
  list-style: none;
}

.label {
  color: rgb(255, 255, 255);
  font-size: larger;
}

.percentage {
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  padding-top: 3px;
}
